# Airtable CRM
AIRTABLE_BASE_ID="appXXXXXXXXXXXXXX"
AIRTABLE_TOKEN="patXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
AIRTABLE_PEOPLE_TABLE="People"
AIRTABLE_CONTACT_MESSAGES_TABLE="Contact Messages"

# Public keys
NEXT_PUBLIC_EMAIL_ADDRESS=""
NEXT_PUBLIC_INSTAGRAM_KEY=""
NEXT_PUBLIC_YOUTUBE_API_KEY=""
