@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-pragmatica: pragmatica-extended, sans-serif;
  --font-roboto:
    var(--font-roboto), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-neue-haas: neue-haas-grotesk-display, sans-serif;

  --color-hueso: #eff0ef;
  --color-dark: #242424;
  --color-cel: #6c8a8c;
  --color-turquesa: #b78665;

  --background-image-section-pattern: url('/grain-pattern.png');

  --animate-slideFadeUp: slideFadeUp 1s ease;
  --animate-zoomFadeIn: zoomFadeIn 1s ease;
  --animate-fade-in: fadeIn 0.3s ease;

  @keyframes slideFadeUp {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes zoomFadeIn {
    0% {
      transform: scale(3);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  color: black;
  background: white;
}

.hero-player > video {
  object-fit: cover;
}
